.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.justify-between {
  justify-content: space-between;
}
.flex {
  display: flex;
}
.m-auto {
  margin: auto;
}

.border-b-slate-200 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(226 232 240 / var(--tw-border-opacity));
}

.border-solid {
  border-style: solid;
}
.border-b {
  border-bottom-width: 1px;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.justify-between {
  justify-content: space-between;
}
.flex {
  display: flex;
}
.m-auto {
  margin: auto;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}
menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.h-9 {
  height: 2.25rem;
}

img,
video {
  max-width: 100%;
  height: auto;
}

.font-semibold {
  font-weight: 600;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.flex {
  display: flex;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.space-x-10 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(2.5rem * var(--tw-space-x-reverse));
  margin-left: calc(2.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.logo {
  display: block;
}

*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.header a:hover {
  text-decoration: underline;
}
